body {
  font: 14pt sans-serif;
  color: #333;
  background-color: #fff;
}

img {
  max-width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  padding: 0 .5em;
  list-style: none;
  background-color: #ab1b93;
  color: #fff;
}

li {
  margin: .5em;
  display: inline-block;
}

table {
  width: 100%;
  padding: 1em;
  background-color: #fff;
}

tr {
  margin: 0;
  padding: 0;
  border: 0;
}

td {
  margin: 0;
  padding: .5em;
  border: 0;
  background-color: #efefef;
}
td a {
  color: #3479c4;
}
.time {
  width: 3em;
  text-align: center;
}
.title {
  color: #3479c4;
}
.description {
  color: #333;
}
